@tailwind base;
@tailwind components;
@tailwind utilities;

.logo_text {
    @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
  }
  
  .dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 ;
  }
  
  .dropdown_link {
    @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium hover:bg-gray-50;
  }

  .black_btn {
    @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
  }
  
  .outline_btn {
    @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
  }

  .scroll_hidden {
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .scroll_hidden.hidden {
    opacity: 0;
  }

  .Light_Button {
    @apply block py-3 px-6 rounded-lg bg-blue-500 mr-10 text-white mt-[-10px];
  }